[submodule "sims/runtime/rtthread-nano"]
	path = sims/runtime/rtthread-nano
	url = https://github.com/dashygo097/rtthread-nano.git
[submodule "sims/tests/coremark"]
	path = sims/tests/coremark
	url = https://github.com/dashygo097/coremark.git
