.DS_Store
.vscode/
.bloop/
.bsp/
.metals/
.cache/

project/project
build/
target/
obj_dir/
logs/
synth/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
