.DS_Store
.vscode/
.bloop/
.bsp/
.metals/
.cache/
.codex
.sbt-local/
.coursier-cache/

project/project
build/
target/
obj_dir/
logs/
synth/
demu.log
sims/demu.log

hex/
elf/
bin/
dump/
sims/tests/logs/
sims/tests/*.log
sims/tests/Configuring
tests/*.log

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib


*.log
*.jou
sims/gen_awk.sh